<!DOCTYPE html>
	<body>
        <div>
            <form action="/addIssue" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="fname"
                            name="title"
                            class="form-control"
                    />
                </div></p>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" id="lname"
                            name="description"
                            class="form-control"
                    />
                </div></p>
                <div class="form-group">
                    <label for="assignee">Assignee</label>
                    <input type="text" id="lname"
                            name="assignee"
                            class="form-control"
                    />
                </div></p>
                <button type="submit">Submit</button>
            </form>
        </div>
	</body>
</html>
