<!DOCTYPE html>
<html>
   <body>
      <form action='/submitOrder' method='post' name='order_form'>
         Name:</p><input type= 'text' name='name'></p>
         Address:</p><input type = "text" name = "address"/></p>
         Email:</p><input type = "text" name = "email"/></p>
         Selcet Product:
         <select name="product">
    		<option value="Clothes">Clothes</option>
    		<option value="Mobile">Mobile</option>
    		<option value="Laptop">Laptop</option>
  		 </select></p>
         <input type='submit' value='Submit'>
      </form>
   </body>
</html>