<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/customstyle.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>About us</title>

</head>

<body>
    <!-- navbar code start-->
    <div id="navtop">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/"><img src="/images/mk_logo.png" class="img-fluid" /></a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <%for(var i =0; i<menu.length; i++){%>
                            <%if (i == 3) { %>
                            <li class="nav-item active">
                                <a class="nav-link" href="<%=menu[i].link%>">
                                    <%=menu[i].name%>
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="<%=menu[i].link%>">
                                    <%=menu[i].name%>
                                </a>
                            </li>
                            <%}%>
                            <%}%>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--navbar code end -->

    <!--Google map start-->
    <div>
        <div class="container mt-3" style="width: 100%;">
            <div class="row">
                <div class="col-12 text-center">
                    <h3>MK Express</h3>
                    <h6>Amar Megaplex, Baner road, Pune</h6>
                    <h6>412045</h6></br></br>
                </div>
            </div>
        </div>
        <div id="map-container-google-1" class="z-depth-1-half map-container"
            style="height: 400px; margin-top:0px; margin-bottom:50px; width:100%; background-color: GhostWhite;">
            <iframe src="https://maps.google.com/maps?q=amar+megaple+baner&t=&z=13&ie=UTF8&iwloc=&output=embed"
                frameborder="0" style="border:0; height:100%" allowfullscreen></iframe>
        </div>
    </div>
    <!--Google map end-->

    <!-- footer code start -->
    <div class="footer p-2 bg-dark text-white text-center">
        © 2019 MK. All rights reserved
    </div>
    <!-- footer code end -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="commonscript.js"></script>
</body>

</html>